<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <header><%- include('./partials/header') -%></header>

    <main class="container-fluid text-center pt-3">
      <h2 class="py-3">Our Customers</h2>

      <div class="table-responsive">
        <table class="m-auto mt-3 table align-middle">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Balance</th>
            <th scope="col">Transfer</th>
          </tr>

          <% users.forEach((user) => { %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.balance %></td>
            <td>
              <a href="/transfer" class="btn btn-table">Transfer Money</a>
            </td>
          </tr>
          <% }) %>
        </table>
      </div>
    </main>

    <footer><%- include('./partials/footer') -%></footer>
  </body>
</html>
