<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <header><%- include('./partials/header') -%></header>

    <main class="container-fluid text-center pt-3">
      <h2 class="py-3">Our Customers</h2>

      <table class="m-auto mt-3">
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th>Balance</th>
          <th>Details</th>
          <th>Transfer</th>
        </tr>

        <% users.forEach((user) => { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.balance %></td>
          <td>
            <a href="/profile/<%=user._id%>" class="btn btn-table">Profile</a>
          </td>
          <td>
            <a href="/transfer" class="btn btn-table">Transfer Money</a>
          </td>
        </tr>
        <% }) %>
      </table>
    </main>
  </body>
</html>
