<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <header><%- include('./partials/header') -%></header>

    <main class="container-fluid text-center pt-3">
      <h2 class="py-3">Transaction History</h2>

      <table class="m-auto mt-3">
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>

        <% transactions.forEach((transaction) => { %>
        <tr>
          <td><%= transaction.user.sender.name %></td>
          <td><%= transaction.user.receiver.name %></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.date_formatted %></td>
        </tr>
        <% }) %>
      </table>
    </main>

    <footer><%- include('./partials/footer') -%></footer>
  </body>
</html>
