<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <header><%- include('./partials/header') -%></header>

    <main
      class="
        container
        pt-3
        d-flex
        flex-column
        justify-content-center
        align-items-center
      "
    >
      <div class="bg-white w-50 p-4 rounded shadow-sm mt-3 form">
        <h1 class="text-center title">
          <i class="bi bi-arrow-left-right"></i> Transfer Money
        </h1>

        <% if(typeof error !== 'undefined'){ %>
        <p class="text-danger pt-2"><%= error.message %></p>
        <% } %>

        <form action="" method="post">
          <!-- receiver -->
          <div class="form-group py-2">
            <label for="receiver" class="py-2 fw-bold"
              >To <span class="text-danger">*</span>
            </label>
            <select
              type="select"
              id="receiver"
              name="receiver"
              class="form-control"
              placeholder="receiver"
              required
            >
              <option disabled selected>Select Receiver</option>
              <% users.forEach((customer) => { %>
              <!-- prettier-ignore -->
              <% if(customer.email != user.email) { %>
              <option value="<%= customer._id %>"><%= customer.name %></option>
              <!-- prettier-ignore -->
              <% } %>
              <% }) %>
            </select>
          </div>

          <!-- amount -->
          <div class="form-group py-2">
            <label for="amount" class="py-2 fw-bold"
              >Amount <span class="text-danger">*</span></label
            >
            <input
              type="number"
              name="amount"
              class="form-control"
              placeholder="e.g. 1000"
              min="1"
              required
            />
          </div>

          <div class="form-group py-2">
            <label for="description" class="py-2 fw-bold"
              >Description (Optinal)</label
            >
            <input
              type="text"
              name="description"
              class="form-control"
              placeholder="What is this payment for?"
            />
          </div>

          <!-- buttons -->
          <div class="py-3">
            <button class="btn btn-table m-2">Submit</button>
            <a href="/" class="link-secondary text-decoration-none m-2"
              >Go Back</a
            >
          </div>
        </form>
      </div>
    </main>

    <footer><%- include('./partials/footer') -%></footer>
  </body>
</html>
